@import "colors.css";
* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  min-height: 0;
}

/* ❌ ПОВНІСТЮ прибираємо фон панелі */
window#waybar {
  background: transparent;
  color: #eaeaea;
}

/* ===== LEFT ===== */
#custom-clock {
  padding: 6px 14px;
  margin: 6px 4px 6px 6px;
  background-color: rgba(0,0,0,0.5);
  color: @secondary;
  border-radius: 50px;
}

#custom-vremya {
  padding: 6px 14px;
  margin: 6px 4px 6px 6px;
  background-color: rgba(0,0,0,0.5);
  color: @secondary;
  border-radius: 50px;
}

#language {
  padding: 6px 14px;
  margin: 6px 4px 6px 6px;
  background-color: rgba(0,0,0,0.5);
  color: @secondary;
  border-radius: 50px;
}

/* ===== CENTER ===== */

/* контейнер */
#workspaces {
  margin: 6px;
  padding: 4px;
  background: rgba(0,0,0,0.5);
  border-radius: 50px;
}

/* кнопки з’єднані */
#workspaces button {
  padding: 6px 12px;
  margin: 0;
  background: transparent;
  color: @secondary;
  border-radius: 50px; /* за замовчуванням — прямокутні */
}

/* hover без зсувів */
#workspaces button:hover {
  background: alpha(@secondary, 0.5);
  color: @outline;
}

/* активний workspace */
#workspaces button.active {
  background-color: alpha(@secondary, 0.85);
  color: black; 
}

/* закруглення країв */
#workspaces button:first-child:last-child {
  /* тільки один workspace */
  border-radius: 50px;
}

#workspaces button:first-child:not(:last-child) {
  border-radius: 50px;
}

#workspaces button:last-child:not(:first-child) {
  border-radius: 50px;
}


/* ===== RIGHT ===== */
#pulseaudio {
  padding: 6px 14px;
  margin: 6px 4px 6px 6px;
  background-color: rgba(0,0,0,0.5);
  color: @secondary;
  border-radius: 50px;
}

#network {
  padding: 6px 14px;
  margin: 6px 4px 6px 6px;
  background-color: rgba(0,0,0,0.5);
  color: @secondary;
  border-radius: 50px;
}

#battery {
  padding: 6px 14px;
  margin: 6px 6px 6px 4px;
  background-color: rgba(0,0,0,0.5);
  color: @secondary;
  border-radius: 50px;
}

/* Tooltip (наведення) */
tooltip {
  color: @inverse_surface;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}
